<!DOCTYPE HTML>
<html lang="{{ language }}">
  <head>
    <title>{{ _('title') }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <h1>{{ _('title') }}</h1>
    <p>{{ _('error_occurred') }}</p>
    <ul>
      <li>{{ _('error_time') }}</li>
      <li>{{ _('error_type') }}</li>
      <li>{{ _('error_data') }}</li>
    </ul>
    <a href="{{ application_url }}">{{ _('back_to_main_page') }}<a/>
  </body>
</html>
