<!DOCTYPE HTML>
<html lang="{{ language }}">
  <head>
    <title>{{ _('title') }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <h1>{{ _('title') }}</h1>
    <p>{{ _('application_success') }}</p>
    <p>{{ _('pickup_information') }}
    <p>{{ _('pickup_requirements') }}</p>

    {{ _('terms_of_use') }}

  </body>
</html>

